html, body{
    margin: 0;
    width: 100%;

}

.poker-container{
    width: 100%;
    height: 1080px;
    position: relative;
}

#clock_box{
    width: 20%;
    position: fixed;
    font-size: 9vw;
    font-weight: bold;
    color:black;
     text-align: center;
    font-family: 'Roboto',sans-serif;
    margin-top: 5%;
    margin-right: 5%;
}

.img-background{
    z-index: 1;
    width: 10%;
    position: fixed;
    top: 0;
    
}

.moving-background{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    animation: fadeOut ease 10s;
   opacity: 0.1;
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0.1;}
  }
