@media screen and (min-width: 551px){
    div {
      display: none;
    }
}

@media screen and (min-width: 551px){
    body {
      color: black;
      background-color: tomato;
      text-align: center;
      
    }
}

html, body{
    margin: 0;
    width: 100%;
}

.main-container{
    width: 100%;
    height: 1080px;
    position: relative;
}

.poker-container{
    width: 100%;
    height: 1080px;
    position: relative;
}

.img-logo{
    margin-left: 25%;
    width: 50%;
    align-self: auto;
    margin-top: 55%;
    float: left;
    z-index: -2;
}


#clock{
    width: 100%;
    position: absolute;
    font-size: 9vw;
    font-weight: bold;
    color:black;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    margin-top: 42%;
    
}

.moving-background{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    animation: fadeOut ease 5s;
    opacity: 0.1;
   -webkit-user-drag: none;
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0.1;}
  }

.nav-bar{
    border-radius: 20px;
    position: absolute;
    font-size: 3vw;
    list-style-type: none;
    background-image: linear-gradient(to right,rgb(231, 228, 228),rgb(178, 250, 178));
    margin: 0;
    padding: 0;
    box-shadow: 0px 2vw 3vw 0px rgba(0,0,0,0.35);
    z-index: 3;
}

li{
    float: left;
}

li a, .dropbtn,.dropbtn1,.dropbtn2,.dropbtn3{
    
    padding: 3.8vw;
    font-weight: bold;
    color: violet;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s, padding 0.5s;
}

li a:hover{
    border-radius: 20px;
    background-color: thistle;
    color: wheat;
}

li a.home{
    background-image: linear-gradient(to left,rgb(231, 228, 228),rgb(161, 205, 241));
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    color: violet;
}



.poker-content,.macro-content,.app-content,.str-content{
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: #e0f8ff;
    box-shadow: 0px 2vw 3vw 0px rgba(0,0,0,0.35);
    z-index: 5;
}

.poker-content a,.macro-content a,.app-content a,.str-content a{
    border-radius: 20px;
    padding: 2vw 3vw;
    text-decoration: none;
    display: block;
  }

.poker-content a:hover {background-color: rgb(250, 244, 195);
    color: lightgreen;
}

.macro-content a:hover {background-color: rgb(250, 244, 195);
    color: lightgreen;
}

.app-content a:hover {background-color: rgb(250, 244, 195);
    color: lightgreen;
}

.str-content a:hover {background-color: rgb(250, 244, 195);
    color: lightgreen;
}

.dropdown:hover .poker-content{
    display: block;
}

.dropdown1:hover .macro-content{
    display: block;
}

.dropdown2:hover .app-content{
    display: block;
}

.dropdown3:hover .str-content{
    display: block;
}
