
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

@media screen and (min-width: 551px){
    .main-container {
      display: none;
    }
}

@media screen and (min-width: 551px){
    body {
      color: black;
      background-color: rgb(247, 133, 113);
      text-align: center;
    }
}

@media screen and (max-width: 550px){
    div.animated-txt {
      display: none;
    }
}

span{
    display: inline-block;
    color: #52992c;
    opacity: 0;
    transform: translate(-150px, 0) scale(.3);
    animation: leftRight .5s forwards;
}

span:nth-of-type(2) {
    animation-delay: .05s;
}

span:nth-of-type(3) {
    animation-delay: .1s;
}

span:nth-of-type(4) {
    animation-delay: .15s;
}

span:nth-of-type(5) {
    animation-delay: .2s;
}

span:nth-of-type(6) {
    animation-delay: .25s;
}

span:nth-of-type(7) {
    animation-delay: .3s;
}

span:nth-of-type(8) {
    animation-delay: .35s;
}

span:nth-of-type(9) {
    animation-delay: .4s;
}

span:nth-of-type(10) {
    animation-delay: .45s;
}

span:nth-of-type(11) {
    animation-delay: .5s;
}

span:nth-of-type(12) {
    animation-delay: .55s;
}

span:nth-of-type(13) {
    animation-delay: .6s;
}

span:nth-of-type(14) {
    animation-delay: .65s;
}

span:nth-of-type(15) {
    animation-delay: .7s;
}

span:nth-of-type(16) {
    animation-delay: .75s;
}

span:nth-of-type(17) {
    animation-delay: .8s;
}

span:nth-of-type(18) {
    animation-delay: .85s;
}
span:nth-of-type(19) {
    animation-delay: .9s;
}
span:nth-of-type(20) {
    animation-delay: .95s;
}

span:nth-of-type(21) {
    animation-delay: 1s;
}

span:nth-of-type(22) {
    animation-delay: 1.05s;
}

span:nth-of-type(23) {
    animation-delay: 1.1s;
}

.animated-txt {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 20vw;
    display: block;
    font-family: 'lato' , sans-serif;
    font-size: 8vw;
    font-weight: 800;
}

@keyframes leftRight {
    40% {
        transform: translate(50px, 0) scale(.7);
        opacity: 1;
        color: #52992c;
    }

    60% {
        color: #0f40ba;
    }

    80% {
        transform: translate(0) scale(2);
        opacity: 0;
    }

    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}

html, body{
    margin: 0;
    width: 100%;
}

.main-container{
    width: 100%;
    height: 1080px;
    position: relative;
}

.poker-container{
    width: 100%;
    height: 1080px;
    position: relative;
}

.img-logo{
    margin-left: 25%;
    width: 50%;
    align-self: auto;
    margin-top: 55%;
    float: left;
    z-index: -2;
}


#clock{
    width: 100%;
    position: absolute;
    font-size: 9vw;
    font-weight: bold;
    color:black;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    margin-top: 42%;
    
}

.moving-background{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    animation: fadeOut ease 5s;
    opacity: 0.1;
   -webkit-user-drag: none;
}
@keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0.1;}
  }

.nav-bar{
    border-radius: 20px;
    position: absolute;
    font-size: 3vw;
    list-style-type: none;
    background-image: linear-gradient(to right,rgb(231, 228, 228),rgb(178, 250, 178));
    margin: 0;
    padding: 0;
    box-shadow: 0px 2vw 3vw 0px rgba(0,0,0,0.35);
    z-index: 3;
}

li{
    float: left;
}

li a, .dropbtn,.dropbtn1,.dropbtn2,.dropbtn3{
    
    padding: 3.8vw;
    font-weight: bold;
    color: violet;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s, padding 0.5s;
}

li a:hover{
    border-radius: 20px;
    background-color: thistle;
    color: wheat;
}

li a.home{
    background-image: linear-gradient(to left,rgb(231, 228, 228),rgb(161, 205, 241));
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    color: violet;
}



.poker-content,.macro-content,.app-content,.str-content{
    border-radius: 20px;
    display: none;
    position: absolute;
    background-color: #e0f8ff;
    box-shadow: 0px 2vw 3vw 0px rgba(0,0,0,0.35);
    z-index: 5;
}

.poker-content a,.macro-content a,.app-content a,.str-content a{
    border-radius: 20px;
    padding: 2vw 3vw;
    text-decoration: none;
    display: block;
  }

.poker-content a:hover {background-color: rgb(250, 244, 195);
    color: lightgreen;
}

.macro-content a:hover {background-color: rgb(250, 244, 195);
    color: lightgreen;
}

.app-content a:hover {background-color: rgb(250, 244, 195);
    color: lightgreen;
}

.str-content a:hover {background-color: rgb(250, 244, 195);
    color: lightgreen;
}

.dropdown:hover .poker-content{
    display: block;
}

.dropdown1:hover .macro-content{
    display: block;
}

.dropdown2:hover .app-content{
    display: block;
}

.dropdown3:hover .str-content{
    display: block;
}
