html, body{
    margin: 0;
    width: 100%;

}

.main-container{
    width: 100%;
    height: 1080px;
    position: relative;
}

.img-background{
    margin-left: 25%;
    width: 50%;
    align-self: auto;
    margin-top: 15%;
    float: left;
}


#clock{
    width: 100%;
    position: absolute;
    font-size: 9vw;
    font-weight: bold;
    color:black;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    margin-top: 5%;
}